/* Fonts: 

Thicccc font: Climate Crisis -- link: https://fonts.google.com/specimen/Climate+Crisis

Test: 
Light_font-1: Rajdhani -- link: https://fonts.google.com/specimen/Rajdhani
Light_font-2: Gruppo -- link: 
Handwriting_font: Amatic SC -- link: https://fonts.google.com/specimen/Amatic+SC?category=Handwriting

retro_gameStyle_font: Press Start 2P -- link: https://fonts.google.com/specimen/Press+Start+2P?category=Display,Handwriting

3d_handwriting_font: Rampart One -- link: https://fonts.google.com/specimen/Rampart+One?category=Display,Handwriting

*/

/* Font imports */

/* font thicc */
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap"); 

/* font thin */
/* @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

/* Css grid */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
.grid-item {
  padding: 20px;
  width: 100px;
  background-color: red;
  border: 2px solid white;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 10px;
  background-color: #2196f3;
  padding: 10px;
  justify-content: end;
  grid-template-columns: 80px 200px auto 40px;
  grid-template-rows: 80px 200px;
} */

/* .item1 {
  grid-column-start: 1;
    grid-column-end: 3;
  grid-row-start: 1;
    grid-row-end: 3;  when height of the element is fixed, grid-row-start/end doesn't work
} */

/* grid item */

/* Grid column */
/* Grid row */
/* .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */
/* 
.item1 {
  grid-row: 1 / span 2;
} */



.flex-container {
  display: grid; 

   grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   
   gap: 0px;
   height: 80vh;
   width: 100vw;
}
/* 
.home--containers {
  width: 100vh;
  height: 90vh;
  text-transform: upp;
} */




#left_home--container {
  font-family: "Climate Crisis", cursive;
  width: 50%;
  background-color: #141212;
  color: #fff;
  font-size: 40px;
   background-color: #000; 
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 5;
   grid-column-end: 3;
  /* padding: 25px; */
}

#right_home--container {
  width: 50%;
  font-family: 'Gruppo', cursive;
}


