
/* Fonts: 

Thicccc font: Climate Crisis -- link: https://fonts.google.com/specimen/Climate+Crisis

Test: 
Light_font-1: Rajdhani -- link: https://fonts.google.com/specimen/Rajdhani
Light_font-2: Gruppo -- link: 
Handwriting_font: Amatic SC -- link: https://fonts.google.com/specimen/Amatic+SC?category=Handwriting

retro_gameStyle_font: Press Start 2P -- link: https://fonts.google.com/specimen/Press+Start+2P?category=Display,Handwriting

3d_handwriting_font: Rampart One -- link: https://fonts.google.com/specimen/Rampart+One?category=Display,Handwriting

*/







