* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.angry-grid {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 0px;
  height: 90vh;
  width: 100vw;
}

.items {
  border: 1px dashed #000 ;
}

#item-0 {
  background-color: #000;
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 5;
  grid-column-end: 3;
}
#item-1 {
  background-color: #fff;
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 4;
}
#item-2 {
  background-color: #000;
  grid-row-start: 1;
  grid-column-start: 4;

  grid-row-end: 2;
  grid-column-end: 5;
}
#item-3 {
  background-color: #fff;
  grid-row-start: 2;
  grid-column-start: 4;

  grid-row-end: 3;
  grid-column-end: 5;
}
#item-4 {
  background-color: #000;
  grid-row-start: 3;
  grid-column-start: 3;

  grid-row-end: 4;
  grid-column-end: 5;
}
#item-5 {
  background-color: #fff;
  grid-row-start: 4;
  grid-column-start: 3;

  grid-row-end: 5;
  grid-column-end: 5;
}
